<% include ../partials/header %>


<h1 class="page-header-main">Presentations</h1>

<a class="btn btn-primary new-button" href="/schools/<%= currentUser.school %>/presentations/new"><i class="fas fa-plus"></i> New Presentation</a>

<% include ../partials/footer %>