<% include ../partials/header %>

<h1>NEW ANNOUNCEMENT</h1>

<form action="/schools/<%= school_id %>/cluborgs/<%= club_id %>/announcements" method="POST">
    <input type="text" name="announcement[title]" placeholder="Title">
    <input type="text" name="announcement[text]" placeholder="Announcement">
    <input type="submit">
</form>

<% include ../partials/footer %>