<% include ./partials/header %>

<h1>Home</h1>

<a href="/logout">Logout</a>

<div class="home container">
    <div class="ui card">
        <div class="image">
            <img src="https://images.unsplash.com/photo-1464061884326-64f6ebd57f83?auto=format&fit=crop&w=1350&q=80">
        </div>
        <div class="content">
            <div class="header">Cute Dog</div>
            <div class="meta">
                <span>2 days ago</span>
                <a>Animals</a>
            </div>
        <p></p>
        </div>
    </div>
    
    <div class="ui card">
        <div class="image">
            <img src="https://images.unsplash.com/photo-1464061884326-64f6ebd57f83?auto=format&fit=crop&w=1350&q=80">
        </div>
        <div class="content">
            <div class="header">Cute Dog</div>
            <div class="meta">
                <span>2 days ago</span>
                <a>Animals</a>
            </div>
        <p></p>
        </div>
    </div>
    
    <div class="ui card">
        <div class="image">
            <img src="https://images.unsplash.com/photo-1464061884326-64f6ebd57f83?auto=format&fit=crop&w=1350&q=80">
        </div>
        <div class="content">
            <div class="header">Cute Dog</div>
            <div class="meta">
                <span>2 days ago</span>
                <a>Animals</a>
            </div>
        <p></p>
        </div>
    </div>
    
    <div class="ui card">
        <div class="image">
            <img src="https://images.unsplash.com/photo-1464061884326-64f6ebd57f83?auto=format&fit=crop&w=1350&q=80">
        </div>
        <div class="content">
            <div class="header">Cute Dog</div>
            <div class="meta">
                <span>2 days ago</span>
                <a>Animals</a>
            </div>
        <p></p>
        </div>
    </div>
    
    <div class="ui card">
        <div class="image">
            <img src="https://images.unsplash.com/photo-1464061884326-64f6ebd57f83?auto=format&fit=crop&w=1350&q=80">
        </div>
        <div class="content">
            <div class="header">Cute Dog</div>
            <div class="meta">
                <span>2 days ago</span>
                <a>Animals</a>
            </div>
        <p></p>
        </div>
    </div>
    
    <div class="ui card">
        <div class="image">
            <img src="https://images.unsplash.com/photo-1464061884326-64f6ebd57f83?auto=format&fit=crop&w=1350&q=80">
        </div>
        <div class="content">
            <div class="header">Cute Dog</div>
            <div class="meta">
                <span>2 days ago</span>
                <a>Animals</a>
            </div>
        <p></p>
        </div>
    </div>
</div>

<% include ./partials/footer %>