<% include ./partials/header %>

<form id="login-form" class="form" action="/login" method="POST">
    <div id="login-form-container" class="form-container">
        <legend id="form-title">Login</legend>

        <fieldset class="field">
            <div class="group">
                <input class="material-input" name="username" type="text" required autofocus>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="material-label">Username</label>
            </div>

            <div class="group">
                <input class="material-input" name="password" type="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="material-label">Password</label>
            </div>
        </fieldset>

        <button class="material-button submit" type="submit">Login</button>
    </div>
</form>

<a href="/">Back</a>

<% include ./partials/footer %>