<% include ./partials/header %>

<style>
    body {
        background: #145fe2;
    }
</style>

<form class="form" action="/register" method="POST">
    <div class="form-container">
        <legend id="form-title">Register</legend>

        <fieldset class="field">
            <div class="group">
                <input class="material-input" name="firstName" type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="material-label">First Name</label>
            </div>

            <div class="group">
                <input class="material-input" name="lastName" type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="material-label">Last Name</label>
            </div>

            <div class="group">
                <input class="material-input" name="email" type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="material-label">Email Address</label>
            </div>

            <div class="group">
                <input class="material-input" name="username" type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="material-label">Username</label>
            </div>

            <div class="group">
                <input class="material-input" name="password" type="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="material-label">Password</label>
            </div>

            <hr>

            <div class="text-card">
                <div class="icon-container">
                    <i class="fas fa-check"></i>
                </div>
                <p class="school-name">Steinert High School</p>
            </div>

        </fieldset>

        <button class="material-button submit" type="submit">Register</button>
    </div>
</form>

<script type="text/javascript" src="/js/register.js"></script>

<% include ./partials/footer %>