<% include ./partials/header %>

<style>
    body {
        /*background: url("/images/wavy_background_blue_1.png");*/
        background: linear-gradient(to top right, #13a4f2, #12e2f0);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<h1 id="register-form-header">Sign Up Today to Join Announcity!</h1>

<form class="form" action="/register" method="POST">
    <div class="form-container">
        <!-- <legend id="form-title">Sign up for an account today!</legend> -->

        <!-- <div class="form-image-container">
            <img class="form-image" src="https://images.unsplash.com/photo-1512314889357-e157c22f938d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5aaa2a72b49b8dede273d9e35340711c&auto=format&fit=crop&w=1351&q=80">
        </div> -->

        <div class="user-info-container">
            <fieldset class="field">

                <input class="reg-input" name="firstName" type="text" placeholder="First Name" required>
                <input class="reg-input" name="lastName" type="text" placeholder="Last Name" required>
                <input class="reg-input" name="email" type="text" placeholder="Email Address" required>
                <input class="reg-input" name="username" type="text" placeholder="Username" required>
                <input class="reg-input" name="password" type="password" placeholder="Password" required>

                <!-- <hr>

                <div class="text-card">
                    <div class="icon-container">

                    </div>
                    <p class="school-name"><i class="fas fa-check"></i>Steinert High School</p>
                </div> -->


            </fieldset>

            <button class="material-button submit" type="submit">Register</button>
        </div>


    </div>
</form>

<script type="text/javascript" src="/js/register.js"></script>

<% include ./partials/footer %>