<% include ../partials/header %>

<h1>SCHOOL NEW</h1>

<form action="/schools" method="POST">
    <input type="text" name="school[name]" placeholder="Name">
    <input type="text" name="school[location]" placeholder="Location">
    <input type="text" name="school[code]" placeholder="School Code">
    <input type="submit">
</form>

<% include ../partials/footer %>