.header {
    font-size: 1.5em;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    margin-top: 3.5em;
<<<<<<< HEAD
    background: #fcfcfc;
    /*background: #e5e5e5;*/
=======
    /*background: #343638;*/
    background: #e5e5e5;
>>>>>>> 3c25aa06352e79df03106ce3109c4a82004ed4c2
    box-sizing: border-box;
}

.home.container {
    align-items: center;
<<<<<<< HEAD
    justify-items: center;
=======
    justify-items: center; 
>>>>>>> 3c25aa06352e79df03106ce3109c4a82004ed4c2
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-rows: repeat(2, 300px);
    padding-left: 10vw;
    padding-right: 10vw;
}

.alert {
    margin: 0;
    text-align: center;
}

/*.navbar {*/
/*    background: #343638;*/
/*    color: #fcfcfc;*/
/*}*/

.ui.card {
    width: 85%;
    margin: 0;
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#welcome-container {
    background-image: url("https://images.unsplash.com/photo-1493540447904-49763eecf55f?auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
<<<<<<< HEAD
    background-size: cover;
    position: relative;
    height: 250px;
=======
    background-size: cover; 
    position: relative;
    height: 325px;
>>>>>>> 3c25aa06352e79df03106ce3109c4a82004ed4c2
}

#welcome-container:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(transparent, #373b42);
<<<<<<< HEAD
	opacity: .6;
=======
	opacity: .6;  
>>>>>>> 3c25aa06352e79df03106ce3109c4a82004ed4c2
}

#welcome {
    color: #fcfcfc;
    margin: 0;
    position: absolute;
<<<<<<< HEAD
    text-align: center;
=======
>>>>>>> 3c25aa06352e79df03106ce3109c4a82004ed4c2
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.thumbnail {
    position: relative;
    transition: all 0.3s ease 0s;
    padding: 0;
    border: none;
<<<<<<< HEAD
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
=======
>>>>>>> 3c25aa06352e79df03106ce3109c4a82004ed4c2
}

.more-info {
    position: absolute;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    left: 0;
    text-align: center;
    line-height: 325px;
    opacity: 0.0;
    width: 100%;
<<<<<<< HEAD
    height: 82%; /*overridden later*/
    font-size: 4em;
=======
    height: 82%;
    font-size: 4em;
    color: #101010;
>>>>>>> 3c25aa06352e79df03106ce3109c4a82004ed4c2
    border: none;
    transition: all 0.3s ease 0s;
}

.more-info:hover {
<<<<<<< HEAD
    color: white;
=======
>>>>>>> 3c25aa06352e79df03106ce3109c4a82004ed4c2
    opacity: 1.0;
    background-color: rgba(0,0,0,0.2);
}

.thumbnail:hover {
    transform: translateY(-7px);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
}

.header {
    font-family: Roboto, sans-serif;
    font-size: 3em;
    /*color: #fcfcfc;*/
}

.color-strip {
    margin: 0;
    width: 100%;
    height: 5px;
    background-color: #145fe2;
<<<<<<< HEAD
    margin-bottom: 1em;
=======
>>>>>>> 3c25aa06352e79df03106ce3109c4a82004ed4c2
}

h2 {
    text-align: center;
    color: #101010;
    /*margin: 0;*/
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.my-clubs {
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
<<<<<<< HEAD
}

.no-display {
    display: none;
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#contentTab, #profileTab {
    font-size: 2em;
    color: #000000;
    transition: all 0.3s ease 0s;
    width: 48%;
    margin: 1em;
    border-radius: 10px;
}

#contentTab:hover,
#contentTab:visited,
#contentTab:active,
#contentTab:focus {
    background-color: #fcfcfc !important;
    background-image: none;
    outline: 0;
}

#profileTab:hover,
#profileTab:visited,
#profileTab:active,
#profileTab:focus {
    background-color: #fcfcfc !important;
    background-image: none;
    outline: 0;
}

.clicked {
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.3);
    border: 1px solid black;
=======
>>>>>>> 3c25aa06352e79df03106ce3109c4a82004ed4c2
}