.header {
    font-size: 1.5em;
}

html {
    height: 100%;
    font-family: Roboto, sans-serif;
}

body {
    height: 100%;
    margin: 0;
    margin-top: 3.5em;
    background: #fcfcfc;
    /*background: #e5e5e5;*/
    box-sizing: border-box;
}

.home.container {
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-rows: repeat(2, 300px);
    padding-left: 10vw;
    padding-right: 10vw;
}

.alert {
    margin: 0;
    text-align: center;
}

/*.navbar {*/
/*    background: #343638;*/
/*    color: #fcfcfc;*/
/*}*/

.ui.card {
    width: 85%;
    margin: 0;
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#welcome-container {
    background-image: url("https://images.unsplash.com/photo-1493540447904-49763eecf55f?auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    position: relative;
    height: 250px;
}

#welcome-container:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(transparent, #373b42);
	opacity: .6;
}

#welcome {
    color: #fcfcfc;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.thumbnail {
    position: relative;
    transition: all 0.3s ease 0s;
    padding: 0;
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.more-info {
    position: absolute;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    left: 0;
    text-align: center;
    line-height: 325px;
    opacity: 0.0;
    width: 100%;
    height: 82%; /*overridden later*/
    font-size: 4em;
    border: none;
    transition: all 0.3s ease 0s;
}

.more-info:hover {
    color: white;
    opacity: 1.0;
    background-color: rgba(0,0,0,0.2);
}

.thumbnail:hover {
    transform: translateY(-7px);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
}

.header {
    font-family: Roboto, sans-serif;
    font-size: 3em;
    /*color: #fcfcfc;*/
}

.color-strip {
    margin: 0;
    width: 100%;
    height: 5px;
    background-color: #145fe2;
    margin-bottom: 1em;
}

h2 {
    text-align: center;
    color: #101010;
    /*margin: 0;*/
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.my-clubs {
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.no-display {
    display: none;
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#contentTab, #profileTab {
    font-size: 2em;
    color: #000000;
    transition: all 0.3s ease 0s;
    width: 48%;
    margin: 1em;
    border-radius: 10px;
}

#contentTab:hover,
#contentTab:visited,
#contentTab:active,
#contentTab:focus {
    background-color: #fcfcfc !important;
    background-image: none;
    outline: 0;
}

#profileTab:hover,
#profileTab:visited,
#profileTab:active,
#profileTab:focus {
    background-color: #fcfcfc !important;
    background-image: none;
    outline: 0;
}

.clicked {
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.3);
    border: 1px solid black;
}

.alone {
    width: 90%;
    font-size: 2em;
    color: #000000;
    transition: all 0.3s ease 0s;
    margin: 1em;
    border-radius: 10px;
    left: 0;
    right: 0;
    box-shadow: none;
}

.div-alone {
    width: 100%;
    display: flex;
    justify-content: center;
}

fieldset {
    border-radius: 10px;
    border: 1px solid black;
}

#form-title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 3em;
    width: 200px;
}

.role-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 20px;
}

label {
    margin-right: 15px;
    line-height: 32px;
    margin-left: 10px;
    font-size: 1.5em;
}

.role-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;

    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;

    /*outline: none;*/
    margin-right: 5px;

    position: relative;
    top: 4px;
}

.role-input:focus {
    outline: none !important;
}

.role-legend {
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
    background-color: white;
    width: 175px;
    padding: 5px 10px;
    border: 0;
    /*font-weight: bold;*/
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3);
}

.role-label {
    font-weight: normal;
}

.field {
    margin-bottom: 1em;
    color: black;
    background: white;
    border-color: white;
    border-width: 3px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
    padding: 1em;
}

.elevate {
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.5);
}

.form {
    /*border-radius: 20px;*/
    padding: 1em;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


.form-container {
    margin-bottom: 3em;
}

.submit {
    color: black;
}

.form-container {
    width: 40%;
    background: white;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.5);
    margin: 0 auto;
    padding: 2em;
}

#hidden-textbox {
    margin-top: 3em;
}

#roleChoice1:checked, #roleChoice2:checked, #roleChoice3:checked {
    border: 6px solid #145fe2;
}

/*nice form styling*/

.group {
    position:relative;
    margin-bottom:45px;
}

.material-input {
    color: #145fe2;
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width: 100%;
    border:none;
    border-bottom:1px solid #757575;
}

.material-input:focus {
    outline: none;
}

/* LABEL ======================================= */
.material-label {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
.material-input:focus ~ .material-label, .material-input:valid ~ .material-label {
    top:-20px;
    font-size:14px;
    color:#145fe2;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#145fe2;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

.bar:before {
    left:50%;
}

.bar:after {
    right:50%;
}

/* active state */
.material-input:focus ~ .bar:before, .material-input:focus ~ .bar:after {
    width:50%;
}

.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
.material-input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#145fe2; }
    to    { width:0; background:transparent; }
}

@-moz-keyframes inputHighlighter {
    from { background:#145fe2; }
    to    { width:0; background:transparent; }
}

@keyframes inputHighlighter {
    from { background:#145fe2; }
    to    { width:0; background:transparent; }
}

.material-button {
    width: 100%;
    height: 3em;
    border-radius: 10px;
    border: none;
    background: #145fe2;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 2em;
    margin: 0 auto;
    margin-top: 1em;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.material-button:hover {
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.5);
    transform: translateY(-7px);
}

#login-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form-container {
    position: absolute;
    top: 12%;
    width: 30%;
}