<% include ../partials/header %>

<h1>CLUBORG NEW</h1>

<form action="/schools/<%= school_id %>/cluborgs" method="POST">
<<<<<<< HEAD
    <input type="text" name="cluborg[name]" placeholder="Name">
    <input type="text" name="cluborg[description]" placeholder="Description">
    <input type="text" name="cluborg[image]" placeholder="Image URL">
=======
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="description" placeholder="Description">
    <input type="text" name="image" placeholder="Image URL">
>>>>>>> 3c25aa06352e79df03106ce3109c4a82004ed4c2
    <input type="submit">
</form>

<% include ../partials/footer %>